# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set mysql_connection_string "server=localhost;uid=InitialVFX;password=*;database=initialvfx"

setr voice_useSendingRangeOnly true
setr voice_use3dAudio true #Voix 3D mais peut causé des crash pour certain

# These resources will start by default.


ensure mapmanager
ensure chat 
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure hardcap


#ensure rconlog

#ensure fivemcore

ensure initialv_nameless

ensure fivem-ipl
#ensure scoreboard ######### ######### ######### ######### ######### a enlever  ######### ######### ######### ######### ######### #########
#ensure screenshot-basic
ensure async
ensure mysql-async
ensure InitLua
#ensure InitCSharp
ensure StreamImage
ensure InitUI
#ensure InitUI2
ensure initialv
#ensure identity
#ensure character
#ensure testrecord
ensure InitLoading
#ensure animenu-a-opti
#ensure speedometer
ensure fixcolision

ensure hospital1
ensure hospital2
ensure Pack_Emergency

ensure vespucci

ensure animenu-a-opti

ensure autoecole

ensure Cheveux
ensure rancho
ensure playboy
ensure union_families
ensure vagos
ensure marabunta

#ensure vinewoodpolicestation

#ensure fh4speed
#ensure ipl
#ensure InitFuel
#ensure Init_AutoEcole
#ensure InitProperties
#ensure courthouse
#ensure lostmc
#ensure mumble-voip
#ensure initradio
#ensure interact-sound
#ensure sheriff_car
#ensure sheriff_car2
#ensure sheriff_map
#ensure coffrevehicules
#ensure InitJobs
#ensure plc
#ensure vMenu

#ensure ballas
#ensure families
#ensure mara
#ensure vagosint

#ensure Pack_Emergency
#ensure MenuJob
#ensure flatbed
#ensure Job_garage
#ensure mapMlo

# This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 0

# Uncomment this and set a password to enable RCON. Make sure to change the password - it should look like rcon_password "YOURPASSWORD"
#rcon_password "dsqqdsqdqdqsdqsdsqgfqsgqsgsqhdsd"

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "Initial, Initial V, roleplay, whitelist, français, serious, rp"

# A valid locale identifier for your server's primary language.
# For example "en-US", "fr-CA", "nl-NL", "de-DE", "en-GB", "pt-BR"
sets locale "fr-FR" 
# please DO replace root-AQ on the line ABOVE with a real language! :)

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "https://url.to/image.png"
#sets banner_connecting "https://url.to/image.png"

sets "Site InitialV" "http://initialv.fr"
sets "Discord InitialV" "discord.gg/eWHqM23"

sets activitypubFeed initialv@mastodon.online

# Set your server's hostname
sv_hostname "🔒 ^1Initial V ^7│ ^6discord.gg^0/eWHqM23"

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
load_server_icon 96x96.png

# convars which can be used in scripts
set temp_convar "Welcome to Initial V"

# Uncomment this line if you do not want your server to be listed in the server browser.
# Do not edit it if you *do* want your server listed.
#sv_master1 ""

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:1 group.admin # add the admin to the group

# Hide player endpoints in external log output.
sv_endpointprivacy true

# enable OneSync with default configuration (required for server-side state awareness)
onesync_enabled true
onesync_enableInfinity true

set onesync_forceMigration true
set onesync_workaround763185 true

# Server player slot limit (must be between 1 and 32, unless using OneSync)
sv_maxclients 300

# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
set steam_webApiKey ""

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey ""

restart character